*.ckpt
**/__pycache__/*
*.pyc
*.png
*.pth
*.pt
*.log
*.json
*.wandb
.venv/*
**/wandb/*
.python-version*
.env
disdiff_adapters/logs/*
**/out/*
**/PyTorch-VAE/*
AGENTS.md
**/lightning_logs/*
**/data/*
uv.lock
*.txt
.gitignore
RAED.md